.main-nav {
    @include display__flex();
    @include common();
    background: $background__blue;
    margin: 0;
    list-style: none;
    font-size: 1.5em;
    // position: fixed;
    // top: 0;
    // left: 0;
    z-index: 99;
    width: 100%;
    &:hover {
        @include hover();
    }
    & li {
        padding: 20px;
        cursor: pointer;
        margin-right: 30px;
        transition: color 300ms;
        &:hover {
            color: white;
        }
        &:hover {
            color: gray;
        }
    }
    & li:nth-last-child(1) {
        margin-left: auto;
        margin-right: 0;
    }
    & li a {
        text-decoration: none;
        color: inherit;
    }
}